<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kethtph09802_assignment1">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Đinh Trung Nam k65 HTTT"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/nam">
        <activity
            android:name=".LaunchingScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Quan ly thu chi"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>